In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("student.csv")
print(df.head())

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [3]:
print(df["name"].head())

0      John Deo
1      Max Ruin
2        Arnold
3    Krish Star
4     John Mike
Name: name, dtype: object

In [4]:
df_new = df.drop(["id"],axis=1)
print(df_new.head())

         name  class  mark  gender
0    John Deo   Four    75  female
1    Max Ruin  Three    85    male
2      Arnold  Three    55    male
3  Krish Star   Four    60  female
4   John Mike   Four    60  female

In [5]:
from flask import Flask

In [6]:
app = Flask(__name__)

In [7]:
avg_marks = df["mark"].mean()
print(avg_marks)

74.65714285714286

In [8]:
df_male = df[df["gender"]=="male"]
print(df_male.head())

   id         name  class  mark gender
1   2     Max Ruin  Three    85   male
2   3       Arnold  Three    55   male
5   6    Alex John   Four    55   male
6   7  My John Rob  Fifth    78   male
7   8       Asruid   Five    85   male

In [9]:
avg_male = df_male["mark"].mean()
print(avg_male)

71.94444444444444

In [10]:
df_female = df[df["gender"]=="female"]
print(df_female.head())

    id        name class  mark  gender
0    1    John Deo  Four    75  female
3    4  Krish Star  Four    60  female
4    5   John Mike  Four    60  female
9   10    Big John  Four    55  female
10  11      Ronald   Six    89  female

In [11]:
avg_female = df_female["mark"].mean()
print(avg_female)

77.52941176470588

In [12]:
@app.route("/avg")
def avg():
    return "The average marks of the class are: "+str(avg_marks)

@app.route("/avg-male")
def avgmale():
    return "The average marks of males in the class are: "+str(avg_male)

@app.route("/avg-female")
def avgfemale():
    return "The average marks of males in the class are: "+str(avg_female)

In [13]:
@app.route("/")
def index():
    return str(df)

In [14]:
from waitress import serve

In [15]:
serve(app,port=8080,host='0.0.0.0')